# Ignore Node Dependencies
node_modules/
backend/node_modules/
fitlocal_expo/node_modules/

# Ignore Environment Variables (Keep Passwords Secret!)
.env
backend/.env

# Ignore Expo & React Native Build Files
.expo/
fitlocal_expo/.expo/
npm-debug.log